
*{
    font-family: "Quicksand";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    background-color: darkolivegreen;
}

.container{
    width: 1140px;
    margin: 0 auto;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

a.nav-tentang_saya{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

a.nav-projek{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

a.nav-kontak{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

button.btn-primary{
    background-color: red;
    padding: 4px 27px;
    border: none;
    border-radius: 10px;

    color:#FFFFFF;
    font-size: 14px;
    font-weight: 500;
    margin-right: 100px;
}

.navnav{
    width: 42%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}



#konten_gambar{
    width: 500px;
    height: 500px;
    margin-top: 70px;
    margin-right: 50px;
    border-radius: 20px;
}

.top_text{

    width: 147px;
    height: 20px;

    font-style: normal;
    font-size: 16px;

    color: red;


}

.mid_text{

    width: 313px;
    height: 63px;


    font-style: normal;
    font-weight: bold;
    font-size: 50px;

    color: #FFFFFF;


}

p.bot_text{

    width: 314px;
    height: 80px;

    font-style: normal;
    font-weight: 300;
    font-size: 16px;

    color: #FFFFFF;

}

.bawah{
    margin-top: 20px;
    height: 50px;
    width: 100px;
    
   
}

.heading{
    height: 500px;
    margin-top: 150px;

}

.iw-logo{
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 40px;
}

